/* Header component */
*, ::after, ::before{
  color: aliceblue;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  height: 21rem;
}

.box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}
.left{
  display: inline-block;
  border: 1px solid gold;
  width: 17rem;
  padding: 5px;
  margin-top: 50px;
}
.right{
  width: 16rem;
  border-radius: 10px;
  height: 19rem;
  margin:10px 10px 10px 0;
}

img{
  background-image: url("../../../public/Image/FB_IMG_1722257642965.jpg");
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  object-position: center;
  background-size: cover;
  border-radius: 10px;

}
