*, ::after, ::before{
  color: aliceblue;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aside{
  width: 30rem;
  height: 15rem;
  padding: 1rem;
  margin: 0.1rem;
}
.aside1{
  display:inline-block;
}
